<!-- Default home page -->
<style>
</style>

<script>
  (function() {
    var cx = '018091173379202352419:g8jblt-dmrs';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>

<div>
  Buihongduc132 - Hello World
</div>